.Modal {
    position: fixed;
    z-index: 200;
    border: 1px solid #eee;
    box-shadow: 0 2px 2px #ccc;
    background-color: white;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    top: 30%;
    left: 25%;
    width: 50%;
    transition: all .3s;
}

.ModalOpen {
    animation: openModal .3s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
}

.ModalClosed {
    animation: closeModal .3s cubic-bezier(0.36, 0, 0.66, -0.56) forwards;
}

.fade-slide-enter {}

.fade-slide-enter-active {
    animation: openModal .3s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
}

.fade-slide-exit {}

.fade-slide-exit-active {
    animation: closeModal .3s cubic-bezier(0.36, 0, 0.66, -0.56) forwards;
}

@keyframes openModal {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes closeModal {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(0.8);
        opacity: 0;
    }
}